.combo-product {
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  font-size: 1vw;
  color: black;

  &__title {
    color: black;
  }
  
  .list-products {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
  }
 
  .list-products2 {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
  }
}