.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // font: 100 1.6vh 'Arial';
  font-size: 1em;
  color: black;

  .attribute {
    width: 80%;
    display: flex;
    gap: 1%;
    
    .image {
      width: 25%;
      height: auto;
      align-items: center;
      object-fit: contain;
      aspect-ratio: 1 / 1;
      cursor: pointer;
    }

    .information {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 1.8vh;
      width: 70%;

      .name {
        width: 100%;
        font-size: 1.7vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor:pointer;
        :hover {
          text-decoration: underline;
        }
      }

      .price {
        font-size: 1.7vh;
      }
      
      .variant {
        flex: 1;
        padding: 1px !important;
        width: fit-content;
        cursor: pointer;
        .choose {
          color: black;
        }
      }

    }
  }

  .add-to-cart {
    background-color: black;
    color: white;
    border: 0;
    font-size: 1.5em;
    width: 15%;
    height: 1.8em;
    cursor: pointer;

    &:hover {
      background-color: gray;
      // color: white;
    }
  }
}