.product {
  gap: 2%;
  width: 30%;
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .image {
    width: 100%;
    cursor: pointer;
    align-items: center;
    aspect-ratio: 1 / 1;
  }

  .information {
    width: 110%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .name {
      width: 100%;
      line-clamp: 2;
      cursor: pointer;
      max-height: 3em;  
      overflow: hidden;
      text-align: center;
      line-height: 1.5em;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    .price {
      font-size: 0.8em;
      text-align: center;
    }
    
    .variant {
      flex: 1;
      width: 100%;
      cursor: pointer;
      font-size: 0.7em;
      border-radius: 1em;
      padding: 1px !important;
      background-color: white;
      border-color: rgba(0, 0, 0, 0.5);
      
      // .choose {
      //   color: black;
      // }
    }
  }
  
  .add-to-cart {
    border: 0;
    width: 80%;
    border-radius: 20px;
  }
}

.connect{
  font-size: 2vw;
  color: rebeccapurple;
}

.list-products2 .connect:last-of-type {
  display: none;
}