.product {
  flex-grow: 1;
  display: flex;
  max-width: 100%;
  position: relative;
  align-items: center;
  padding: 1% !important;
  border-radius: 1em !important;
  justify-content: space-between;
  margin: 1% !important;
  
  .sold-out {
    top: 10%;
    left: 0%;
    color: white;
    rotate: -30deg;
    position: absolute;
    background-color: red;
    padding: 0px 1% !important;
    font: 900 0.7em 'Josefin Sans', sans-serif;
  }

  .product__attribute {
    gap: 2%;
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    
    .image {
      width: 25%;
      // height: auto;
      cursor: pointer;
      object-fit: contain;
      // align-items: center;
      aspect-ratio: 1 / 1;
      background-color: white;
      border-radius: 0.3em;
    }

    .information {
      width: 75%;
      display: flex;
      // flex-grow: 1;
      flex-direction: column;
      justify-content: space-around;

      .name {
        width: 100%;
        cursor:pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      // .price {
        // font-size: 1.7vh;
      // }
      
      .variant {
        width: 90%;
        font-size: 1em;
        cursor: pointer;
        border-radius: 1em;
        opacity: 1 !important;
        padding: 1px !important;
        background-color: white;
        border-color: rgba(0, 0, 0, 0.5);
        // .choose {
          // font-size: 1em;
        // }
      }

    }
  }

  &:hover{
    scale: 1.05;
    transition: ease-in 0.15s;
  }
}
