.product {
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  gap: 2%;

  .image {
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
  }

  .information {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 110%;

    .name {
      text-align: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      // white-space: nowrap; 
      max-height: 3em;
    }

    .price {
      text-align: center;
    }
    .variant {
      flex: 1;
      padding: 1px !important;
      width: 100%;
      font-size: 1em;
      cursor: pointer;

      border-radius: 1em;
      background-color: white;
      border-color: rgba(0, 0, 0, 0.5);
      // .choose {
      //   color: black;
      // }
    }

  }
  .add-to-cart {
    border: 0;
    background-color: black;
    color: white;
    width: 80%;
  }
}

.connect{
  font-size: 2vw;
}

.list-products2 .connect:last-of-type {
  display: none;
}