.product {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .product__attribute {
    gap: 1%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    
    .image {
      width: 25%;
      height: auto;
      cursor: pointer;
      object-fit: contain;
      align-items: center;
      aspect-ratio: 1 / 1;
    }

    .information {
      width: 75%;
      display: flex;
      // flex-grow: 1;
      flex-direction: column;
      justify-content: space-around;

      .name {
        width: 100%;
        cursor:pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      // .price {
        // font-size: 1.7vh;
      // }
      
      .variant {
        width: 90%;
        font-size: 1em;
        cursor: pointer;
        border-radius: 1em;
        padding: 1px !important;
        background-color: white;
        border-color: rgba(0, 0, 0, 0.5);
        // .choose {
          // font-size: 1em;
        // }
      }

    }
  }

  &:hover{
    scale: 1.1;
    transition: ease-in 0.3s;
  }
}
