.product-skeleton {
  width: 43%;
  display: flex;
  font-size: 0.7vw;
  align-content: center;
  flex-direction: column;
  margin: 3% !important;

  .image-skeleton {
    width: 85%;
    cursor: pointer;
    align-self: center;
    display: block !important;
    aspect-ratio: 1 / 1 !important;
  }

  .text-skeleton {
    // width: 80%;
    align-self: center;
  }
}